<div class="container">
  <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <input
      type="hidden"
      name="_id"
      #_id="ngModel"
      [(ngModel)]="employeeService.selectedEmployee._id"
    />
    <input
      type="text"
      name="name"
      #name="ngModel"
      [(ngModel)]="employeeService.selectedEmployee.name"
      placeholder="Enter full name"
      required
    />
    <label
      >Name :
      <label class="red-text">*</label>
    </label>
    <input
      type="text"
      name="position"
      #name="ngModel"
      [(ngModel)]="employeeService.selectedEmployee.position"
      placeholder="Eg : Snr. Developer"
    />
    <label>Position :</label>
    <input
      type="text"
      name="office"
      #name="ngModel"
      [(ngModel)]="employeeService.selectedEmployee.office"
      placeholder="Enter office location"
    />
    <label>Office :</label>
    <input
      type="text"
      name="salary"
      #name="ngModel"
      [(ngModel)]="employeeService.selectedEmployee.salary"
      placeholder="Salary per annum"
    />
    <label>Salary :</label>
    <button
      class="btn btn-success right"
      type="button"
      (click)="resetForm(employeeForm)"
    >
      Reset
    </button>
    <button
      class="btn btn-info right"
      type="submit"
      [disabled]="!employeeForm.valid"
    >
      Submit
    </button>
  </form>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let emp of employeeService.employees">
      <td>{{ emp.name }}</td>
      <td>{{ emp.position }}</td>
      <td>{{ emp.office }}</td>
      <td>
        <a class="action-btn" (click)="onEdit(emp)">
          <i class="material-icons">edit</i>
        </a>
        <a class="delete-btn" (click)="onDelete(emp._id, employeeForm)">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </table>
</div>
